.container {
  display: flex; /* or inline-flex */
  flex-direction: row; 
  margin-bottom:50px; 
  border-color: #bb7e41;
  border-bottom: 3px solid;
  margin-top:50px; 
}


@media only screen and (max-width: 500px) {

  .main-schedule{
 max-width: 500px;
 padding-left:0;
}
}

.md-fab{
	color: grey;
}