.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  padding-top:150px; 
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.example-full-width input {
  padding:10px; 	
  border:1px;
  border-radius:100px;
}

.main-voting-class{
	height:560px; 
}