<div *ngFor="let a of array" class="main-schedule">
<div class="container"
     fxLayout="row"
     fxLayout.xs="column">
     <div>
     <img src="/assets/Images/restauIcon.jpg" width="100%" style="height:100%">
     </div>
     <div> 
     <md-card style="height:75%" class="card-schedule">
  <md-card-header>
   <p>{{today | date:'fullDate'}}</p>
    <!-- <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle> -->
  </md-card-header>
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions fxLayoutAlign="center" fxLayoutGap="50px"
     fxLayoutGap.xs="0">
    <button md-fab><md-icon>do_not_disturb</md-icon></button>
    <button md-fab><md-icon>do_not_disturb</md-icon></button>
    <button md-fab><md-icon>do_not_disturb</md-icon></button>
  </md-card-actions>
</md-card></div>	
</div>
</div>

