<div class="main-voting-class">
	<div fxFlex="grow" fxLayoutAlign="center" >
	<md-radio-group class="example-radio-group">
    <form *ngFor="let season of seasons" class="example-full-width">
    <md-radio-button mdSuffix class="example-radio-button"  [value]="season">
    <p>{{season}}</p>
    </md-radio-button>
    </form>
    </md-radio-group>
	</div>
</div>