<div style="width: 100%">
<md-tab-group>
<div style="width:190px;">
  <md-tab label="The Team"><h2>Winning is not a sometime thing; it's an all the time thing. You don't win once in a while; you don't do things right once in a while; you do them right all of the time. Winning is a habit.</h2></md-tab></div>
  <div style="width: 100px;">
  <md-tab label="Timetable">
  <table style="border: 1px solid;margin: 100px auto;">
  <thead>
  <tr>
	  <td>Name</td>
	  <td>Address</td>
	  <td>Email</td>
	  <td>Mobil
e</td>
  </tr>
  </thead>
  <tbody>
  <tr>
  	<td>Akanksha</td>
  	<td>NewYork</td>
  	<td>Abc@gmail.com</td>
    <td>12345678</td>
  </tr>
  </tbody>
  </table></md-tab>
  </div>
  <div style="width:100px;">
  <md-tab label="Contact">Content 2</md-tab></div>
</md-tab-group>
</div>