<div>
    <section>
            <swiper class="swiper" [config]="config">
            <div class="swiper-wrapper test">
                <img class="swiper-slide" *ngFor="let image of images" [src]="image">
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>
    </section>
     <div class="footer-parent">
     <button md-fab>Location</button>
     <button md-fab>How it Works.</button>
  <button md-fab>Partners Location</button>
  </div>
  <!-- <app-gym-footer></app-gym-footer> -->
</div>
