swiper {
    /*width:100%;*/
    height:500px;
    background: lightgray;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
  white-space:inherit;
  line-height:15px;
  width: 80px;
  height: 80px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 15px;
  padding: 0 0;
  border:1px;
  /*background-color:blue; */
}

.footer-parent{
	padding-top:30px;
	text-align: center;
}