/*for header*/
.delegate-header{
	background-color: #bb7e41;
  display: inline-block;
  height:66px;
  padding-top:20px;  
}

/*for search div*/
.example-full-width {
  padding: 2%;
}

.example-full-width input {
  padding:10px;   
  border:1px;
  border-radius:100px;
  width: 100%;
}

/*bind search and body*/
.delegate-body
{
  max-width: 1024px;
}

/*Body of delegate*/
md-card{
  min-width:45%;
  border-bottom:1px solid;
  border-radius: 0;
  width: 80%; 
  margin-left: 5%;
}

.delegate-body-container{
  max-width: 1024px;
  padding-top: 50px;
}

.left-container{
  float: left;
  width: 49.49%;
  border-right: 1px solid;
  /*height: 500px;*/
}

.right-container{
  float: right;
  width: 49.5%;
}


@media only screen and (max-width: 768px) {
.delegate-body
{
  max-width: 768px;
  margin: 0 auto;
}

md-card{
  min-width: 43%;
  padding-top: 50px;
}

.delegate-body-container{
  max-width: 768px;
}
}


@media only screen and (max-width: 500px) {
  .delegate-body
{
  max-width: 500px;
  padding-top: 50px;
}
md-card{
  min-width: 84%;
}

.delegate-body-container{
  max-width: 500px;
  padding-top: 0;
}

.left-container{
  float: none;
  width:80%;
  border-right: none;
  margin: 0 auto; 
}

.right-container{
  float: none;
  width:80%;
  margin: 0 auto;
}
}

@media only screen and (max-width: 360px) {
.delegate-body
{
  max-width: 360px;
  padding-top: 50px;
}

md-card{
  min-width: 85%;
}

.delegate-body-container{
  max-width: 360px;
  padding-top: 0;
}

.left-container{
  float: none;
  width:80%;
  border-right: none;
  margin: 0 auto;
}

.right-container{
  float: none;
  width:80%;
  margin: 0 auto;
}
}
