<div class="containerX">
    <div class="delegate-header container" fxLayoutAlign="center">
      <md-icon>storage</md-icon>
      <b>Delegate Follow</b>
      <md-icon>storage</md-icon> 
  </div>

<div class="delegate-body">
  	<div style="background-color: grey">
      <form class="example-full-width">
        <input type="search"  placeholder="Search">
      </form>
    </div>
<div class="delegate-body-container" *ngFor="let a of lengtharray">
          <div class="left-container">
           <md-card>
            <md-card-header>
              <img md-card-avatar src="/assets/Images/user2.png">
              <md-card-title>Akanksha</md-card-title>
              <md-card-subtitle>Raizada</md-card-subtitle>
            </md-card-header>
            <md-card-content >
              
                Gym is good for health.
              
            </md-card-content>
            <md-card-actions fxLayoutAlign="center" fxLayoutGap="30px" fxLayoutGap.xs="0">
            <button md-mini-fab style="background-color:#1049b5;" (click)="signInSocial('facebook')"><i class="fa fa-facebook" style="font-size:20px;color: white;"></i></button>
            <button md-mini-fab style="background-color: #0093bb;" (click)="signInSocial('linkedin')"><i class="fa fa-linkedin-square" style="font-size:20px;color: white;"></i>
            </button>
            <button md-mini-fab style="background-color: #cc4438;" (click)="signInSocial('google')"><i class="fa fa-google-plus" style="font-size:20px;color: white;"></i></button>
            </md-card-actions>
          </md-card>
          
          </div>
          <div class="right-container">
          <md-card>
            <md-card-header>
              <img md-card-avatar src="/assets/Images/user1.jpg">
              <md-card-title>Akanksha raizada</md-card-title>
              <md-card-subtitle>Raizada</md-card-subtitle>
            </md-card-header>
            <md-card-content >
              
                exercise makes a person happy.
          
            </md-card-content>
            <md-card-actions fxLayoutAlign="center" fxLayoutGap="30px" fxLayoutGap.xs="0">
            <button md-mini-fab style="background-color:#1049b5;"><i class="fa fa-facebook" style="font-size:20px;color: white;"></i></button>
            <button md-mini-fab style="background-color: #0093bb;"><i class="fa fa-linkedin-square" style="font-size:20px;color: white;"></i>
            </button>
            <button md-mini-fab style="background-color: #cc4438;"><i class="fa fa-google-plus" style="font-size:20px;color: white;"></i></button>
            </md-card-actions>
          </md-card>
          </div>
</div>
</div>
