
/*for toolbar*/
.toolbar-class{
  background-color:#333333;
}
.mat-toolbar-row{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 0;
  }

.main-class{
  max-width: 1024px;
  margin: 0 auto;
  min-height:600px; 
  background-color:white; 
  /*padding-left: 150px;*/
}

.example-sidenav {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

.example-fab {
  left: 20px;
  top: 10px;
}

md-toolbar{
  color: #5f5f5f;
}
a{
  color: black;
  text-decoration: none;
}

li{
  line-height: 60px;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
  background-color:grey; 
}

.toolbar-header{
  display: inline-block;
  height:66px;
  padding-top:20px;  
}

.menu {
  overflow: auto;
}

@media only screen and (max-width: 960px) {

.main-class{
  max-width: 960px;
  padding-left: 0;
}

}

@media only screen and (max-width: 760px) {

.main-class{
  max-width: 760px;
  padding-left: 0;
}

}

@media only screen and (max-width: 520px) {

.main-class{
  max-width: 520px;
  padding-left:0; 
}

.content{
  position: relative;
  padding-top:50%;
  padding-bottom:100%;
  width:150%;
  border-top: 3px solid white;
}
}

@media only screen and (max-width: 320px) {

.main-class{
  max-width: 320px;
  padding-left:0; 
}

.content{
  position: relative;
  padding-top:50%;
  padding-bottom:100%;
  width:150%;
  border-top: 3px solid white;
}

}

/*For Menu*/

