<md-sidenav-container>
<md-toolbar class="toolbar-class">
<div class="mat-toolbar-row">
    <div>
        <button type="button" md-mini-fab (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button> 
    </div>
    <div style="margin: 0 auto">
      <h3>APP NAME</h3>
    </div>
    <div>
      <button md-mini-fab [mdMenuTriggerFor]="menu">
        <md-icon>share</md-icon>
      </button>
      <md-menu #menu="mdMenu" yPosition="above" xPosition="before" [overlapTrigger]="false" class="menu">
        <button md-menu-item><i class="fa fa-facebook" style="color:blue;"></i>FaceBook</button>
        <button md-menu-item><i class="fa fa-google-plus"></i>Google</button>
        <button md-menu-item><i class="fa fa-linkedin"></i>LinkedIn</button>
        <button md-menu-item><i class="fa fa-twitter"></i>Twitter</button>
      </md-menu>
    </div>
       </div>
    </md-toolbar>
  <md-sidenav #sidenav class="example-sidenav">
  <div class="pull-right" style="margin-bottom:90px;">
  <button md-mini-fab (click)="sidenav.close()">
    <md-icon>close</md-icon>
  </button>
  </div>
  <!-- <div class="content  "> -->
  <ul class="list-unstyled text-center">
  <li>
  <div>
  <button md-button (click)="sidenav.close()">
   <a routerLink="lazyhome">LazyHome</a>
  </button>
  </div>
  </li>
  <li>
  <div>
  <button md-button (click)="sidenav.close()">
      <a routerLink="./home">
          Home 
      </a>
  </button>
  </div>
  </li>
  <li>
  <div>
  <button md-button (click)="sidenav.close()">
      <a routerLink="./roaster">
          Roster 
      </a>
  </button>
  </div>
  </li>
  <li>
  <div>
  <button md-button (click)="sidenav.close()">
      <a routerLink="./schedule">
          Schedule 
      </a>
  </button>
  </div>
  </li>
  <li>
  <div>
  <button md-button (click)="sidenav.close()">
      <a routerLink="./delegate">
          Delegate 
      </a>
  </button>
  </div>
  </li>
  <li>
  <div>
  <button md-button>  
      <a routerLink="./voting" (click)="sidenav.close()">
          Voting 
      </a>
  </button>
  </div>
  </li>
  <li>
  <div>
  <button md-button (click)="sidenav.close()">
      <a routerLink="./tab">
          Data 
      </a>
  </button>
  </div>
  </li>
  </ul>
  <!-- </div> -->
  </md-sidenav>


  <div class="example-sidenav-content">
    <!-- <md-menu #menu="mdMenu" yPosition="above" xPosition="before" [overlapTrigger]="false">
        <button md-menu-item>Item 1</button>
        <button md-menu-item>Item 2</button>
        <button md-menu-item>Item 1</button>
        <button md-menu-item>Item 2</button>
    </md-menu> -->
  </div>
  <!-- <h1>Schedule</h1>
  <app-gym-schedule></app-gym-schedule> -->
<!-- <h1>Roster</h1>
<app-gym-roaster></app-gym-roaster> -->
<div class="main-class">
<router-outlet></router-outlet>
</div>
</md-sidenav-container>


