@import "~@angular/material/prebuilt-themes/purple-green.css";

swiper {
    /*width:100%;*/
    height:500px;
    background: lightgray;
}

.parent {
  /*background-image: url("/assets/Images/bike2.jpg");*/
  /*display: flex;*/
  /*flex: 100%;*/
  /*padding:100%;*/
  /*flex-direction: row;
  padding-bottom:20%;
   background-size: 100% 100%;
    height: 500px;
    max-width: 100%;*/
  }

.main-class{
  max-width: 1024px;
  padding-left: 150px;
}
