     <div>
<section>
<h1>LAZY COmponent</h1>
            <!-- <swiper class="swiper" [config]="config">
            <div class="swiper-wrapper test">
                <img class="swiper-slide" *ngFor="let image of images" [src]="image">
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper> -->
    </section>
  <!-- <app-gym-footer></app-gym-footer> -->
  </div>
