 <div  class="example-container">
  <md-toolbar>
      <div fxFlex="20%" class="example-sidenav-content">
        <button type="button" md-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button> 
    </div>
    </md-toolbar>
    <md-sidenav-container class="example-container-sidenav"> 
    <md-sidenav #sidenav mode="side" class="example-sidenav"  fxLayout="row" fxLayout.xs="column">
    <!-- <div fxFlex="20%" class="example-sidenav-content"> -->
       <!--  <button type="button" md-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button> -->
      <!-- <div>
       <md-menu #menu="mdMenu" yPosition="above">
        <button md-menu-item>Item 1</button>
        <button md-menu-item>Item 2</button>
        <button md-menu-item>Item 1</button>
        <button md-menu-item>Item 2</button>
      </div>
      </md-menu> -->
    </md-sidenav>
    </md-sidenav-container>
    <div fxFlex="60%" fxLayoutAlign="center">
      <h3>APP NAME</h3>
    </div>
    <div fxFlex="20%">
      <button fxLayoutAlign="right">
        <md-icon>share</md-icon>
      </button>
    </div>
    </div>
  




















































<!-- <md-toolbar>My App
<button md-icon-button [mdMenuTriggerFor]="menu">
  </button>
<md-menu #menu="mdMenu">
  <button md-menu-item>
      <span>Redial</span>
  </button>
  <button md-menu-item>
        <span>Check voicemail</span>
  </button>
  <button md-menu-item>
   <span>Disable alerts</span>
  </button>
</md-menu>
</md-toolbar>



-->







































<!-- <md-toolbar color="primary">
  <span>Custom Toolbar</span>

  <md-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <md-icon class="example-icon">verified_user</md-icon>
  </md-toolbar-row>

  <md-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <md-icon class="example-icon">favorite</md-icon>
    <md-icon class="example-icon">delete</md-icon>
  </md-toolbar-row>
</md-toolbar> -->



<!-- <md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-click="goto('page1')" name="page1">
    Page One
  </md-nav-item>
  <md-nav-item md-nav-href="#page2" name="page3">Page Two</md-nav-item>
  <md-nav-item md-nav-sref="page3" name="page2">Page Three</md-nav-item>
  <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
    Page Four
  </md-nav-item>
</md-nav-bar> -->
<!-- <header>
  <h3>Flexbox Responsive Navigation Menu</h3>
  <nav class="navbar">
    <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
    <a href="#" class="brand">Brand</a>
    <div class="left">
      <a href="#" class="link">Link 1</a>
      <a href="#" class="link">Link 2</a>
    </div>
    <div class="right">
      <a href="#" class="link">Right Link 2</a>
    </div>
  </nav>
</header>
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container> -->

<!-- <div class="container" 
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div class="bar" flex>
  <div fxFlex="30%" fxFlexOffset="10%" fxFlexOffset.xs="0"><H3>APPNAME</H3></div>
  <div fxFlex="10%" fxFlexOffset="10%" fxFlexOffset.xs="0">PAGE1</div>
  <div fxFlex="10%">TABPAGE1</div>
  <div fxFlex="10%">TABPAGE2</div>
  <div fxFlex="10%">PAGE2</div>
  <div fxFlex="10%" class="search">
    <input type="search" placeholder="search..." />
  </div>
  <div fxFlex="20%"></div>
  </div>
</div> -->

 <!--  <ul>
	<li><button><a href="#">1</a></button></li>
	<li class="current"><button><a href="#">2</a></button></li>
	<li><button><a href="#">3</a></button></li>
	<li><button><a href="#">4</a></button></li>
	<li><button><a href="#">5</a></button></li>
<ul>
-->

 <!--  <ul class="navigation">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">Contact</a></li>
</ul> -->