.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  /*padding-bottom: 10%;*/
}
.example-container {
  background-color: grey;
  /*width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);*/

}

/*.example-container-sidenav{
  width: 500px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
*/

.example-sidenav {
  padding: 20px;

}

md-sidenav {
  width: 800px;
  height: 100%;
}

/*html, body, material-app, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}*/