<!-- <div *ngIf="testing ; else laoding;">
 --><div *ngFor="let a of numbers" class="main-card" >
<md-card class="example-card">
  <md-card-header >
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <md-card-content >
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions fxLayoutAlign="center" fxLayoutGap="50px"
     fxLayoutGap.xs="0">
    <button md-mini-fab style="background-color:#1049b5;" (click)="signInSocial('facebook')">
    <i class="fa fa-facebook" style="font-size:24px;color: white;"></i>
    </button>
    <button md-mini-fab style="background-color: #0093bb;" (click)="signInSocial('linkedin')">
    <i class="fa fa-linkedin-square" style="font-size:24px;color: white;"></i>
    </button>
    <button md-mini-fab style="background-color: #cc4438;" (click)="signInSocial('google')">
    <i class="fa fa-google-plus" style="font-size:24px;color: white;"></i>
    </button>
  </md-card-actions>
</md-card>
</div>
<!-- </div>
<ng-template #laoding>Good Bye</ng-template> -->
<a routerLink="/home" onclick="signOut();">Sign out</a>
