.example-header-image {
  background-image: url('/assets/Images/bike.jpg');
  background-size: cover;
}

.snackbar{
  color: red;
}
/*.example-card{
  background-color: white;	
  border-bottom: 3px solid;	
  border-color: #bb7e41;
  padding-bottom: 50px;
}	*/

p{
	color: black;
}

/*@media only screen and (max-width: 500px) {
	.main-card
{
 max-width: 500px;
 padding-left:0;
}
}
*/


div:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 80%;  /* or 100px */
  border-bottom:2px solid #f7bb8c;
  margin-left: 10%;
}