
<img src="/assets/Images/restau1.jpg">
<div *ngFor="let a of numbers" class="main-card">
<md-card class="example-card">
  <md-card-header >
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title><p>Shiba Inu</p></md-card-title>
    <md-card-subtitle><p>Dog Breed</p></md-card-subtitle>
  </md-card-header>
  <md-card-content >
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions fxLayoutAlign="center" fxLayoutGap="50px"
     fxLayoutGap.xs="0">
    <button md-fab><md-icon>do_not_disturb</md-icon></button>
    <button md-fab><md-icon>do_not_disturb</md-icon></button>
    <button md-fab><md-icon>do_not_disturb</md-icon></button>
  </md-card-actions>
</md-card>
</div>
