@import "~@angular/material/prebuilt-themes/purple-green.css";

.example-header-image {
  background-image: url('/assets/Images/bike.jpg');
  background-size: cover;
}

.example-card{
  background-color: white;	
  border-bottom: 3px solid;	
  border-color: grey;
  padding-bottom: 50px;
}	

p{
	color: black;
}

img{
   width:100%; 	
}