/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
 @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
/*deeppurple-amber.css

purple-green.css*/
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	background: white;
}

ul{
	list-style: none;
	 border-top: 3px solid white;
	 margin-top:60px;;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
	/*background-color:grey; */
}

.mat-button,
mat-icon-button,
.mat-raised-button{
	width:100% !important;
	border: none !important;
	box-shadow: 0 0 0 #fff !important;
	border-radius: none !important;
	background:rgba(255,255,255,0.5) !important; 
}

.mat-button[_ngcontent-c0], .mat-fab[_ngcontent-c0], .mat-icon-button[_ngcontent-c0], .mat-mini-fab[_ngcontent-c0], 
.mat-raised-button[_ngcontent-c0]
{
	color: white;
}

/*Card shadow*/
 .mat-card:not([class*=mat-elevation-z]){
  box-shadow: 0 0 0 #fff !important;
}

.mat-tab-label[_ngcontent-c7] {
	min-width: 33% !important;
}

/*.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #f7bb8c;
}

.mat-radio-button.mat-accent .mat-radio-outer-circle {
    background-color: #f7bb8c;
}

.mat-radio-checked .mat-radio-inner-circle {
}*/