.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
	white-space:inherit;
  line-height:15px;
  width: 80px;
  height: 80px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 15px;
  padding: 0 0;
  margin-left:190px;
  border:1px;
  /*background-color:blue; */
}

.parent{
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1024px;
}

@media only screen and (max-width:414px){ 
  .parent{
  padding-left:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 414px;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
  margin-left:0;
}
}

@media only screen and (max-width:900px){
  .parent{
  padding-left:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 900px;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
  margin-left:120px;
}
}

@media only screen and (max-width:360px){
  .parent{
  padding-left:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 360px;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
  margin-left:0;
}
}