 <div class="container parent" fxLayout="row"
     fxLayout.xs="row">
     <div style="white-space:inherit;line-height:15px;"><button class="button-footer" md-fab>Location</button>
     </div>
     <div style="white-space:inherit;line-height:15px;"><button md-fab>
     How it Works.</button>
     </div>
  <div style="white-space:inherit;line-height:15px;"><button md-fab>Partners Location</button>
  </div>
  </div>  